{% load i18n %}
{% load static from staticfiles %}

<!--retrieving variables for lang switching buttons-->
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ band.bandsname }} - {% block meta_title %}{% endblock meta_title%}
    </title>
    <meta name="description"
      value="{{ band.bandsname }} Official Site" />

    <!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
  {% block extra_css %}{% endblock extra_css %}

  <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

  <!-- Favicons - generate and paste your code here-->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ PORTAL_URL }}{% static "icons/apple-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ PORTAL_URL }}{% static "icons/apple-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ PORTAL_URL }}{% static "icons/apple-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ PORTAL_URL }}{% static "icons/apple-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ PORTAL_URL }}{% static "icons/apple-icon-114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ PORTAL_URL }}{% static "icons/apple-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ PORTAL_URL }}{% static "icons/apple-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ PORTAL_URL }}{% static "icons/apple-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ PORTAL_URL }}{% static "icons/apple-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ PORTAL_URL }}{% static "icons/android-icon-192x192.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ PORTAL_URL }}{% static "icons/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ PORTAL_URL }}{% static "icons/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ PORTAL_URL }}{% static "icons/favicon-16x16.png" %}">
  <link rel="manifest" href="{{ PORTAL_URL }}{% static "icons/manifest.json" %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ PORTAL_URL }}{% static "icons/ms-icon-144x144.png" %}">
  <meta name="theme-color" content="#ffffff">

  </head>
  <body>

    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ PORTAL_URL }}">
            <img style="margin-top: -15px;" alt="{{ band.bandsname }}"
              src="{{ band.logo.url }}">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="menu">
            <li {% if '/news' in request.path %} class="active" {% endif %}><a href="{% url "news" %}">{% trans "News" %} <span class="sr-only">(current)</span></a></li>
            <li {% if '/videos' in request.path %} class="active" {% endif %}><a href="{% url "videos" %}">{% trans "Videos" %}</a></li>
            <li {% if '/music' in request.path %} class="active" {% endif %}><a href="{% url "music" %}">{% trans "Albums" %}</a></li>
            <li {% if '/shows' in request.path %} class="active" {% endif %}><a href="{% url "shows" %}">{% trans "Upcoming Shows" %}</a></li>
        <!-- add fuckin rider -->
            <li><a href="/easyrider">{% trans "Technical Rider" %}</a></li>
            <li><a href="#contacts">{% trans "Contacts" %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="container-fluid">
              <div class="navbar-header">
                {% for link in links %}
                  <a class = "navbar-brand" href="{{ link.linklink }}">
                      <img alt="{{ link.linkname }}" src="{{ link.linkicon.url }}">
                  </a>
                {% endfor %}

                <form class="navbar-form navbar-left" action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}" />
                  {% for language in languages %}
                    <button type="submit" name="language" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} class="btn-success"{% endif %} class="btn-link" >
                        [{{ language.code }}]</button>
                  {% endfor %}
                </form>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% if user.is_authenticated %}
    <div class="jumbotron">
      <h1 class="display-3">{% trans "Hello, " %}{{ user.username }}! </h1>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'add_news' %}" role="button">{% trans "Add News" %}</a>
        <a class="btn btn-primary btn-lg" href="{% url 'add_show' %}" role="button">{% trans "Add Show" %}</a>
        <a class="btn btn-primary btn-lg" href="{% url 'add_album' %}" role="button">{% trans "Add Album" %}</a>
        <a class="btn btn-primary btn-lg" href="{% url 'add_video' %}" role="button">{% trans "Add Video" %}</a>
        <a class="btn btn-danger btn-lg" href="{% url 'logout' %}" role="button">{% trans "Log Out" %}</a>
        {% block app_buttons %}{% endblock app_buttons %}
      </p>
    </div>
    {% endif %}

    <h2>{% block title %}{% endblock title %}</h2>
    {% block status_message%}
    <!--{% if request.GET.status_message %}
    <div class="alert alert-warning"
      role="alert">{{ request.GET.status_message }}</div>
    {% endif %}-->
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endblock %}

    {% block content %}{% endblock content %}

    <!-- Start Footer -->
    <div class=”row” id=”footer”>
      <div class=”col-xs-12”>
        &copy; 2017 {% for link in links %}
          <a class = "navbar-brand" href="{{ link.linklink }}">
              <img alt="{{ link.linkname }}" src="{{ link.linkicon.url }}">
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- End Footer -->



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type = "text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script type = "text/javascript" src="{{ PORTAL_URL }}{% static "js/main.js" %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
