{% extends "home/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Music" %}{% endblock meta_title %}
{% block extra_css %}
{% if band.musicpage_pic %}
<style media="screen" type="text/css">
  body {
    background-image:url("{{ band.musicpage_pic.url }}");
  }
</style>
{% endif %}
{% endblock extra_css %}
{% block title %}{% endblock title %}
{% block content %}
    <div class = "container" id = "topContainer">
      <div class="row">
        {% for album in albums %}
        <div class="col-sm-2">
          <a href = "{% url 'viewalbum' pk=album.pk %}" class="thumbnail">
            <img style="width: 200px; height: 200px" class = "thumbnail" src="{{ album.cover.url }}" alt="{{ album.title }}"
              width="400" height="400">
            <div class="caption">
              <h3><center>{{ album.title }} [{{ album.release_date|date:"Y"}}] {{ album.kind }}</center></h3>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock content %}
