{% extends "home/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Music" %}{% endblock meta_title %}
{% block extra_css %}
{% if band.musicpage_pic %}
<style media="screen" type="text/css">
  body {
    background-image:url("{{ band.musicpage_pic.url }}");
  }
</style>
{% endif %}
{% endblock extra_css %}
{% block title %}{% endblock title %}
{% block content %}
  <div class = "container">
    <div class="row" id = "newsblock">
      {% for album in albums %}
      {% if albums|length == 1 %}
      <div class="col-sm-12">
      {% elif albums|length == 2 %}
      <div class="col-sm-6">
      {% else %}
      <div class="col-md-4">
      {% endif %}
        <center><a href = "{% url 'viewalbum' pk=album.pk %}">
          <img style="width: 300px; height: 300px"
            src="{{ album.cover.url }}" alt="{{ album.title }}"
            class = "img-responsive">
        </a></center>
        {% if album.buylinks.all|length > 0 %}
        <center>
        {% for buylink in album.buylinks.all %}
          <a href="{{ buylink.linklink }}">
              <img alt="{{ buylink.linkname }}"
              src="{{ buylink.linkicon.url }}">
          </a>
        {% endfor %}
        </center>
        {% endif %}
        <h3 class="center">{{ album.title }}
            [{{ album.release_date|date:"Y"}}] {{ album.kind }}
        </h3>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
