{% extends "home/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "News" %}{% endblock meta_title %}
{% block extra_css %}
{% if band.newspage_pic %}
  <style>
    #topContainer {
      background-image:url("{{ band.newspage_pic.url }}");
    }
  </style>
{% endif %}
{% endblock extra_css %}
{% block title %}{% endblock title %}
{% block content %}
    <div class = "container" id = "topContainer">
      <div class = "container">
        {% for article in news %}
          <h2><a href="{% url 'readthenews' pk=article.pk %}">
            {{ article.title }}</a></h2>
          <p>{{ article.published_date }}</p>
          <div class = "row">
            <div class = "col-md-4">
              {% if article.picture %}
                <img src="{{ article.picture.url }}" class="img-responsive">
              {% else %}
                <img src="{% static "img/default.jpg" %}"
                  class="img-responsive">
              {% endif %}
            </div>
            <div class = "col-md-4">
              <p class="newsblock">
                {{ article.blog_content|linebreaksbr|truncatewords:50 }}
                <a href="{% url 'readthenews' pk=article.pk %}"> READ MORE</a>
              </p>
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
      {% if news.has_other_pages %}
        <nav>
          <ul class="pagination">
            <li><a href="{% url "news" %}?page=1">&laquo;</a></li>
            {% for p in news.paginator.page_range %}
              <li {% if news.number == p %}class="active"{% endif %}>
                <a href="{% url "news" %}?page={{ p }}">{{ p }}</a>
              </li>
            {% endfor %}
            <li>
              <a href="{% url "news" %}?page={{ news.paginator.num_pages }}">&raquo;
              </a>
            </li>
          </ul>
        </nav>
      {% endif %}
    </div>
{% endblock content %}
