{% extends "home/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "News" %}{% endblock meta_title %}
{% block extra_css %}
{% if band.newspage_pic %}
<style media="screen" type="text/css">
  body {
    background-image:url("{{ band.newspage_pic.url }}");
  }
</style>
{% else %}
<style media="screen" type="text/css">
  body {
    background-image:url("{% static "img/default.jpg" %}");
  }
</style>
{% endif %}
{% endblock extra_css %}
{% block title %}{% endblock title %}
{% block content %}
  <div class = "container">
    {% for article in news %}
      <h2><a href="{% url 'readthenews' pk=article.pk %}">
        {{ article.title }}</a></h2>
      <p>{{ article.published_date|date:"d E Y" }}</p>
      <div class = "row" id = "newsblock">
        <div class = "col-md-5">
          {% if article.picture %}
            <img src="{{ article.picture.url }}" class="img-responsive">
          {% else %}
            <img src="{% static "img/default.jpg" %}"
              class="img-responsive">
          {% endif %}
        </div>
        <div class = "col-md-5">
          <p>
            {{ article.blog_content|linebreaksbr|truncatewords:100 }}
            {% if article.blog_content|wordcount > 100 %}
              <a href="{% url 'readthenews' pk=article.pk %}">
                {% trans "READ MORE" %}
              </a>
            {% endif %}
          </p>
        </div>
      </div>
      <hr>
    {% endfor %}

    {% if news.has_other_pages %}
      <nav>
        <ul class="pagination">
          <li><a href="{% url "news" %}?page=1">&laquo;</a></li>
          {% for p in news.paginator.page_range %}
            <li {% if news.number == p %}class="active"{% endif %}>
              <a href="{% url "news" %}?page={{ p }}">{{ p }}</a>
            </li>
          {% endfor %}
          <li>
            <a href="{% url "news" %}?page={{ news.paginator.num_pages }}">&raquo;
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock content %}
