{% extends "home/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Technical Rider" %}{% endblock meta_title %}
{% block title %}{% trans "Technical Rider" %}{% endblock title %}
{% block content %}
    <div class = "container" id = "topContainer">
      <div class = "container">
        {% if techrider %}
          <center><img src="{{ techrider.url }}" class="img-responsive">
          </center>
        {% else %}
          <p class="newsblock">{% trans "For actual technical rider please contact band's management" %}</p>
        {% endif %}
        <hr>
      </div>
    </div>
{% endblock content %}
