{% extends "home/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Shows" %}{% endblock meta_title %}
{% block extra_css %}
{% if band.showspage_pic %}
  <style>
    #topContainer {
      background-image:url("{{ band.showspage_pic.url }}");
    }
  </style>
{% endif %}
{% endblock extra_css %}
{% block title %}{% endblock title %}
{% block content %}
    <div class = "container" id = "topContainer">
      <div class = "container">
        <table class="table table-striped table-hover">
          <tbody>
            {% for show in shows %}
              <tr class="info">
                <th scope="row"><a href="{% url 'shownfo' pk=show.pk %}">
                  {{ show.show_date }}</a></th>
                <td><a href="{% url 'shownfo' pk=show.pk %}">
                  {{ show.venue }}</a></td>
                <td><a href = "{{ show.tickets_link }}">{% trans "Tickets" %}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock content %}
