{% extends "home/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Show in {{ show.venue }}{% endblock meta_title %}
{% block title %}Show in {{ show.venue }}{% endblock title %}
{% block content %}
    <div class = "container" id = "newsContainer">


      <br><br><br><br><br>
      <div class = "container">


        {% if show.affiche %}
          <center><img src="{{ show.affiche.url }}" class="img-responsive">
          </center>
        {% endif %}
        <div class="row">
          <div class="col-md-6 col-md-offset-3"><h1>{{ show.show_date }} {{ show.venue }}</h1>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <p class="newsblock">{{ show.show_info|linebreaksbr }}</p>
          </div>
        </div>


        <hr>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <a class="btn btn-default" href="{% url "shows" %}" role="button">&laquo; Back to shows list</a>
          </div>
        </div>

      </div>
    </div>



{% endblock content %}
