{% extends "home/base.html" %}
{% block meta_title %}Authentication{% endblock meta_title %}
{% block title %}Authentication{% endblock title %}

{% block content %}

{% if form.errors %}
     <p>Your username and password didn't match. Please get the fucking hell out of here.</p>
{% endif %}

 <div class="container">
   <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
 </div>

{% endblock %}
