body {
  background-size: 150%;
  background-position: center;
  background-repeat: repeat;
  height: 100%;
}

html {
  height: 100%;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -300px;
}

.page-wrap:after{
  content: "";
  display: block;
}

.site-footer, .page-wrap:after{
  height: 300px;
}

.site-footer{
  background-color:grey;
}

  /*h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }*/

  #menu {
    font-size:130%;
  }

  #topContainer {
     height:auto;
     width:100%;
     margin-top:-100px;
     padding-top:200px;

     background-attachment: fixed;
     background-position: center;
     background-repeat:no-repeat;
     background-size: cover;
   }

   #topRow {

    margin-top:180px;

    }

  #bottomContainer {
    height:auto;
    width:100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    }

  .center {
    text-align:center;
    }

  .title {
    margin-top:50px;

    }

  p.news{
    height:200px;
    background-color: grey;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }

  #newsblock{
    padding-top: 15px;
    padding-bottom: 15px;
    height:auto;
    background-color: rgba(192,192,192,0.6);
  }

  .navbar-fixed-bottom{
    background-color:#f9d616;
    height:50px;
    width:100%;
  }

  img.thumbnail {
      opacity: 1; /* Change this to .5 for 50% opacity */
      -webkit-transition: .5s;
         -moz-transition: .5s;
          -ms-transition: .5s;
           -o-transition: .5s;
              transition: .5s;
  }
  img.thumbnail:hover {
      opacity: 0.5;
  }

  .carousel-inner > .item > img {
    height:360px;
  }

  .contacts {
    height: 100px;
    position: relative;
  }

  .contacts p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
